/* about mainintro  */

.intro {
    width: 100%;
    height:550px;
    width: 100%;
    overflow: hidden;
    background: url(../images/bgnaturenew.png) no-repeat center ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .intro .container{
      width: 85%;
      margin: 50px auto;
      flex-wrap: wrap;
  }
  
  .mainhead{
      text-align: center;
      flex-wrap: wrap;
      color:black;
      
  }
  .mainhead .name1 , .name2 , .name3 {
      margin: 20px;
      
  }
  .mainhead .i{
      font-size: 28px;
      
  }
  .mainhead .am{
      font-size: 40px;
      padding-top: 35px;
  }
  .mainhead .vaibhav{
      font-size: 50px;
      width:100%;
      /* border: 1px solid black; */
  }
  .mainhead .vaibhav span{
      font-size: 1.5em;
      color:#ff006c;;
  }
