

.main {
    padding: 14px 30px;
    background: url(../images/bgnaturenew.png) no-repeat center;
    background-size: cover;
    box-shadow: 05px 05px 5px 2px grey;
    width: 100%;
    height: 90vh;
    margin: 0%;  
   
}
.updates{
    border:3px solid transparent;
    border-left-color: rebeccapurple ;
    padding-left: 10px;
    line-height:25px;
}

.content1{
    width:100%;
    background-color: blanchedalmond;
    display: flex;
}
.content1 .p {
    width:70%;
}
.p2{
    width:20%;
}
.mainholder{
    width:100%;
    display: flex;
   
}
.bottom{
    color:white;
}


.h2text{
padding: 15% 30px;
color: rgb(235, 44, 108);

}
.btn{
    padding: 10px 15px;
    margin: 10px 10px;
}
